
@media screen and (min-width: 2560px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 2.2vw;
  }
  body {
    font-size: 1vw;
  }
  .header__logo {
    font-size: 1.2vw;
    margin-top: 0.6%;
  }
  
  .logos{
    width: 58px;
    height: 58px;
    margin-right: 10px;
   
  }
  .nav {
    margin-top: 0.6%;
  }
  main {
    max-width: 100%;
  }
  .intro {
   
    height: 100vh;
  }
  .neubox{
    font-size: 2vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 110%;
    width: 80%;
    max-width: 80%;
  }
  .more {
    width: 80%;
    height: 8%;
    font-size: 2vh;
  }
  .offers {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: absolute;
  }
  .nav__link {
    margin: 15px;
  }
  
}

@media screen and (max-width: 2560px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 2.8vw;
  }
  body {
    font-size: 1.6vw;
  }
  .header__logo {
    font-size: 1.8vw;
    margin-top: 0.6%;
  }
  
  .logos{
    width: 40px;
    height: 40px;
    margin-right: 10px;
   
  }
  .nav {
    margin-top: 0.6%;
  }
  main {
    max-width: 100%;
  }
  .intro {
   
    height: 100vh;
  }
  .neubox{
    font-size: 2vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 110%;
    width: 80%;
    max-width: 80%;
  }
  .more {
    width: 80%;
    height: 8%;
    font-size: 2vh;
  }
  .offers {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: absolute;
  }
  .nav__link {
    margin: 15px;
  }

}


@media screen and (max-width: 1920px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 2.8vw;
  }
  body {
    font-size: 1.6vw;
  }
  .header__logo {
    font-size: 1.8vw;
    margin-top: 0.6%;
  }
  
  .logos{
    width: 40px;
    height: 40px;
    margin-right: 10px;
   
  }
  .nav {
    margin-top: 0.6%;
  }
  main {
    max-width: 100%;
  }
  .intro {
   
    height: 100vh;
  }
  .neubox{
    font-size: 2vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 110%;
    width: 80%;
    max-width: 80%;
  }
  .more {
    width: 80%;
    height: 8%;
    font-size: 2vh;
  }
  .offers {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: absolute;
  }
  .nav__link {
    margin: 15px;
  }
}


@media screen and (max-width: 1440px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 2.8vw;
  }
  body {
    font-size: 1.6vw;
  }
  .header__logo {
    font-size: 1.8vw;
    margin-top: 1%;
  }
  
  .logos{
    width: 33px;
    height: 33px;
    margin-right: 10px;
   
  }
  .nav {
    margin-top: 1%;
  }
  main {
    max-width: 100%;
  }
  .intro {
   
    height: 75vh;
  }
  .neubox{
    font-size: 2vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 110%;
    width: 80%;
    max-width: 80%;
  }
  .more {
    width: 80%;
    height: 8%;
    font-size: 1.8vh;
  }
  .offers {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: absolute;
  }
  .nav__link {
    margin: 15px;
  }
}


@media screen and (max-width: 1024px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 2.8vw;
  }
  body {
    font-size: 1.6vw;
  }
  .header__logo {
    font-size: 1.8vw;
    margin-top: 2%;
  }
  
  .logos{
    width: 22px;
    height: 22px;
    margin-right: 10px;
   
  }
  .nav {
    margin-top: 2%;
  }
  main {
    max-width: 100%;
  }
  .intro {
   
    height: 52vh;
  }
  .neubox{
    font-size: 2vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 110%;
    width: 80%;
    max-width: 80%;
  }
  .more {
    width: 80%;
    height: 8%;
    font-size: 1.6vh;
  }
  .offers {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: absolute;
  }
  .nav__link {
    margin: 15px;
  }
}


@media screen and (max-width: 768px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 2.8vw;
  }
  body {
    font-size: 1.6vw;
  }
  .header__logo {
    font-size: 1.8vw;
    margin-top: 3%;
  }
  
  .logos{
    width: 15px;
    height: 15px;
    margin-right: 5px;
   
  }
  .nav {
    margin-top: 3%;
  }
  main {
    max-width: 100%;
  }
  .intro {
   
    height: 43vh;
  }
  .neubox{
    font-size: 0vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 90%;
    margin-block: 7%;
    width: 70%;
    max-width: 70%;
  }
  .more {
    width: 50%;
    height: 10%;
    font-size: 1.4vh;
  }
  .offers {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: relative;
  }
  .nav__link {
    margin: 15px;
  }
}


@media screen and (max-width: 425px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 1.8vw;
  }
  body {
    font-size: 2vw;
  }
  .header__logo {
    font-size: 1.8vw;
    margin-top: 5%;
  }
  
  .logos{
    width: 20px;
    height: 20px;
    margin-right: 5px;
   
  }
  .nav {
    margin-top: 5%;
  }
  main {
    max-width: 100%;
  }
  .intro {
   
    height: 24vh;
  }
  .neubox{
    font-size: 0vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 90%;
    margin-block: 7%;
    width: 80%;
    max-width: 80%;
  }
  .more {
    width: 60%;
    height: 14%;
    font-size: 1vh;
  }
  .offers {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: relative;
  }
  .nav__link {
    margin: 4px;
  }
}


@media screen and (max-width: 320px) { 
  .intro {
    margin-left: 5%;
  }
  
  h2, h3 {
    font-size: 2.8vw;
  }
  body {
    font-size: 1.6vw;
  }
  .header__logo {
    font-size: 2vw;
    margin-top: 5%;
  }
  
  .logos{
    width: 10px;
    height: 10px;
    margin-right: 5px;
   
  }
  .nav {
    margin-top: 5%;
  }
  main {
    max-width: 100%;
  }
  .intro {
    margin-top: 0%;
    height: 20vh;
  }
  .neubox{
    font-size: 0vh;
    margin-left: 0%;
    margin-inline: auto;
    height: 90%;
    margin-block: 7%;
    width: 80%;
    max-width: 80%;
  }
  .more {
    width: 60%;
    font-size: 1vh;
    
  }
  .offers {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    grid-template-rows: 1fr;
  }
  .header {
    position: relative;
  }
  .nav__link {
    margin: 4px;
  }
  
}






body {
  font-family: "Montserrat", sans-serif;
  
  background-color: rgb(32, 32, 32);
  margin: 0px;
  color: rgb(255, 255, 255);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
a {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 97%;
  margin: 0 auto;
}
/*Заголовок навигация и картинка*/
.header {
  width: 100%;
  height: 80%;
  
  padding-top: 1%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.logos{
  float: left;
  
}

.header__logo {
  color: #fff;
  text-decoration: none;
}


.nav__link {
  text-decoration: none;
  color: #fff;
  
  cursor: pointer;
}

.nav__link:hover {
  color: aqua;
  transition: 0.4s;
}

.nav__link:hover:before {
  color: #fff;
}

.nav__link:hover:after {
  text-decoration: underline;
  color: aqua;
}
.intro {
  width: 90%;
  
  
  z-index: 0;
  background: url("/GOMSELMASH\ GS3219.jpg") center
    no-repeat;
  opacity: 100%;

  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880%;
  margin: 0 auto 0;
  text-align: center;
  line-height: 1;
}

.intro__suptitle {
  font-family: "Fuzzy Bubbles", cursive;
  margin-top: 5%;
  color: #fff;
}



.main {
  width: 100%;
  height: 99vh;
  padding-top: 0%;
  color: white;
  justify-content: space-around;
  
  margin: auto;
  
}
/*Предложения*/
.offers {
  padding-top: 5%;
  width: 100%;
  height: 25vw;

  font-family: "Montserrat", sans-serif;
  font-size: 14%;
  color: White;
  margin: 0 auto;
  
}
.neubox {
 
  
  border-radius: 10%;
  background: linear-gradient(225deg, #d0d0d0, #fff);
  box-shadow: -6px 6px 15px #a5a5a55d, 6px -6px 15px #dfdfd5df;
  
  color: black;
  text-align: center;
  border-image: 2%;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}

.neubox:hover {
  
  box-shadow: -6px 6px 15px #a5a5a5, 6px -6px 15px #dfdfdf;
  transition: 0.6s;
}



.neubox__header {
  padding-top: 7%;
  text-align: center;
  text-transform: bold;
}

.neubox__img {
  width: 97%;
  height: auto;
  border-radius: 15%;
}
.more {
  
  position: relative;
  align-content: center;
  margin-bottom: 0;
  
  color: black;
  background-color: #fff;
  

}

.more:hover {
  background: black;
  color: white;
  transition: 0.6s;
}

.more:hover:before {
  color: black;
}

.more:hover:after {
  background: black;
  color: white;
}

/*О нас блок и текст*/


.pic {
  height: 25%;
  margin-top: 5%;
  max-width: max-content;
  border-radius: 50%;
  background: #fff;
  box-shadow: 4% 4% 16% #bebebe, -4% -4% 16% #ffffff;
  color: black;
}

img.pic {
  margin-top: 0%;
  width: 25%;
  height: auto;
  border-radius: 30%;
}

.info {
  margin-top: 25%;
  font-size: 25%;
  color: white;
  font-family: "Raleway", sans-serif;
  justify-content: space-around;
}

.about {
  width: 100%;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 100px;
  font-size: 27px;
  font-family: "Raleway", sans-serif;
  text-justify:auto;
  font-weight: 400;
}

.a__footer:active {
  color: white;
  text-decoration: underline;
}
.a__footer:hover {
  color: aqua;
  text-decoration: underline;
}
.a__footer:visited {
  color: white;
  text-decoration: underline;
}
.a__footer:link {
  color: blue;
}
